.homeNews{
    display: flex;
    flex-direction: column;
}

.containerNews{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.titleForm{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}