.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label{
    color:white;
}

.input{
    width: 200px;
    height: 25px;
    background-color: #4B5563;
    border: none;
    outline: none;
    margin-bottom: 15px;
    color:white;
    padding-left: 10px;
}

.select{
    width: 209px;
}

.submit{
    width: 209px;
    height: 25px;
    background-color: white;
}

