.h1{
    color:white;
}

.article{
    color:#9cadc2;
    margin-bottom: 15px;
}

.article h3{
    margin-top: 15px;
    margin-bottom: 5px;
}

.article strong{
    color:rgb(131, 131, 131);
}

.section{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.createNews{
    display: flex;
    color:#9cadc2;
    border:1px solid #00000000;
    background: none;
    font-size: 17px;
    height: 25px;
    cursor: pointer;
}